/* import google font */
/* Dùng font mặc định của tài liệu đưa sẽ bị lỗi font tiếng Việt có dấu, 
nên tôi tải font open_sans hỗ trợ tiếng Việt từ google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* DECLARE VARIATION VALUE */
:root {
  --clr-black: #111;
  --clr-dark: #464646;
  --clr-semi-dark: #c0c0c0;
  --clr-light: #e2e2e2;
  --clr-semi-white: #f1f1f1;
  --clr-white: #f5f5f5;
  --clr-blue: #199cdb;
  --clr-light-blue: hsl(from var(--clr-blue) h s calc(l + 50));
  --clr-dark-blue: hsl(from var(--clr-blue) h s calc(l - 20));
  --clr-orange: #d6c08d;

  /* font sizes */
  --fs-sm: clamp(0.8rem, 0.08vi + 0.78rem, 0.84rem);
  --fs-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
  --fs-md: clamp(1.25rem, 0.45vi + 1.14rem, 1.5rem);
  --fs-lg: clamp(1.56rem, 0.79vi + 1.36rem, 2rem);
  --fs-xl: clamp(1.95rem, 1.29vi + 1.63rem, 2.66rem);
  --fs-xxl: clamp(2.44rem, 2.02vi + 1.94rem, 3.55rem);
}

/* /////////////////////// */
/* RESET CSS */
/* /////////////////////// */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

ul {
  list-style: "– ";
  list-style-position: inside;
  padding: 0;
}

/* p {
  margin: 0;
} */

a {
  text-decoration: none;
}

/* /// DEFAULT CSS /// */
html {
  scroll-behavior: smooth;
}

/* /////////////////////// */
/* /// ULTILTY CLASSES /// */
/* /////////////////////// */

.bold {
  font-weight: bold;
}

.hide {
  display: none;
}

.collapse-content {
  grid-template-rows: 0fr !important;
}

/* .collapsed {
  grid-template-rows: 0fr;
} */

/* .error {
  color: var(--bs-danger);
} */

/* CONTAINER OF WHOLE PAGE use to set up some default setting */
.cv-container {
  /* make sure can't shrink too small */
  min-width: 320px;
  margin: auto;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: var(--fs-base);
  color: var(--clr-black);
  line-height: 2;
}

/* /////////////////////// */
/* /// BANNER /// */
/* /////////////////////// */

.banner {
  position: relative;

  .banner-overlay {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* create an overlay */
    &::before {
      position: absolute;
      content: "";
      background-color: var(--clr-dark);
      opacity: 0.6;
      inset: 0;
    }
  }

  .banner-text {
    position: absolute;
    top: 30%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    color: var(--clr-white);

    h1 {
      text-transform: uppercase;
      font-weight: normal;
      line-height: 1;
      /* font-size: 2.5rem; */
      font-size: var(--fs-xl);
      width: max-content;
      /* white-space: nowrap; */
    }

    p {
      font-weight: lighter;
      word-spacing: 0.3ch;
      /* font-size: 1.4rem; */
      font-size: var(--fs-lg);
    }
  }
}

/* /////////////////////// */
/* /// MAIN NAVBAR /// */
/* /////////////////////// */

.main-nav {
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-block: 1px solid var(--clr-light);
    list-style: none;
    margin: 0;
  }

  li {
    width: 100%;
    /* flex: 1 0 100%; */
    /* text-align: center; */
    text-transform: uppercase;
    font-size: var(--fs-md);
    border-top: 1px solid var(--clr-light);
  }

  /* li:last-child {
    border-bottom: 1px solid var(--clr-light);
    } */

  a {
    display: block;
    width: 100%;
    padding: 1rem 3rem;
    text-transform: uppercase;
    color: var(--clr-dark);
  }

  a i {
    color: var(--clr-blue);
    margin-right: 0.5ch;
  }

  /* hide avatar image */
  li:has(.nav-avatar) {
    display: none;
  }
}

/* /////////////////////// */
/* /// COMMON SECTIONS STYLE /// */
/* /////////////////////// */

section {
  margin: 2rem auto;
  /* padding-block: 2rem; */
}

section:nth-child(odd) {
  background-color: var(--clr-semi-white);
}

section:last-child {
  margin-bottom: 0;
}

.inner-container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.section-title {
  font-size: var(--fs-lg);
  /* margin-top: 1rem; */
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
}

/* /////////////////////// */
/* /// TARGET AND INFORMATION /// */
/* /////////////////////// */

.intro-section {
  display: grid;
  grid-template-columns: 1fr;
  text-align: justify;
  margin-top: 0;
  text-wrap: pretty;
}

.target,
.info {
  padding: 3rem;
}

span.bold {
  color: var(--clr-dark);
  padding-right: 1ch;
}

.info {
  background-color: var(--clr-light);
  text-align: left;

  .btn-check-email {
    padding: 0.5rem 2rem;
  }

  .email-form {
    input {
      max-width: 45ch;
    }
  }

  .info-content-wrapper,
  .email-form {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease-in-out;
  }

  /* .collapse-content {
    grid-template-rows: 0fr;
  } */

  .info-content,
  .form-content {
    overflow: hidden;
  }

  a {
    color: var(--clr-black);
  }

  .maps {
    display: inline;
    color: var(--clr-dark);
  }
}

.social-icons {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: var(--fs-lg);
  margin-block: 1rem;
  border-top: 1px solid var(--clr-semi-dark);
  padding-top: 0.5rem;

  a {
    color: var(--clr-blue);
    transition: color 0.5s linear;
  }

  a:hover {
    color: var(--clr-dark-blue);
  }
}

/* /////////////////////// */
/* SHOWCASE DETAILS - RESUME PART */
/* /// EXPERIENCE + EDUCATION + ACTIVITY /// */
/* /// HOBBY + LANGUAGE + SKILL /// */
/* /////////////////////// */
.details {
  .details-item {
    border: 1px solid var(--clr-light);
    padding: 1.5rem;
    transition: translate 0.3s linear;
  }

  .title-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      margin: 0;
    }

    i {
      font-size: 2rem;
      text-align: right;
      opacity: 0.5;
    }
  }

  h3 {
    margin-top: 1rem;
    color: var(--clr-dark);
    font-size: 1.1rem;
    font-weight: bold;
  }

  h3::before,
  .timeline::before {
    font-family: "Font Awesome 7 Free";
    margin-right: 1ch;
    color: var(--clr-semi-dark);
    font-style: normal;
    font-weight: normal;
  }

  h3::before {
    content: "\f02e";
  }

  .timeline + p {
    font-size: 0.9em;
    margin-top: -0.2ch;
  }

  .timeline {
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
  }

  .timeline::before {
    content: "\f017";
  }

  .highlight {
    padding-inline: 0.5rem;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border-radius: 4px;
  }
}

/* ẩn btn đi khi đang đóng content lại */
.btn-view-more.is-collapsed {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.details-item:hover {
  /* thêm hiệu ứng khi quơ chuột vào detail item */
  box-shadow: 0 2px 5px 1px var(--clr-semi-dark);
  translate: 0 -2px;

  /* hiện btn lên khi quơ chuột vào */
  .btn-view-more {
    opacity: 1;
  }
}

/* Cuộn cữ lên xuống khi click vào */
.btn-view-more {
  min-width: 15ch;
  --btn-height: 4.5ch;
  display: flex;
  align-items: center;
  height: var(--btn-height);
  padding: 0 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.text-slide {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
}

.text-slide span {
  height: var(--btn-height);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* kéo chữ view more xuống */
.btn-view-more.is-collapsed .text-slide {
  transform: translateY(calc(var(--btn-height) / 2));
}

/* kéo chữ view less lên */
.btn-view-more .text-slide {
  transform: translateY(calc(var(--btn-height) / -2));
}

/* button arrow caret - mũi tên bên phải button */
.btn-view-more::after {
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  content: "\f107";
  display: inline-block;
  margin-left: 1ch;
  transition: rotate 0.5s ease-in-out;
}

/* xoay mũi tên 180 độ ngược chiều kim đồng hồ */
.btn-view-more:not(.is-collapsed)::after {
  rotate: -180deg;
}

/* thêm hiệu ứng xổ ra nội dung cho content */
.details-item-wrapper {
  --line-width: 0;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.4s ease-in-out;
  position: relative;
}

/* .collapse-content {
  grid-template-rows: 0fr;
} */

.details-item-wrapper::before {
  content: "";
  position: absolute;
  width: var(--line-width);
  /* top: 0; */
  height: 1px;
  background: var(--clr-semi-dark);
  transition: width 0.3s linear;
}

/* thêm hiệu ứng đường chia cách */
.btn-view-more:not(.is-collapsed) ~ .details-item-wrapper {
  /* border-top: 1px solid var(--clr-semi-dark); */
  --line-width: 100%;
}

.details-item-content {
  overflow: hidden;
  padding-top: 0.5rem;
}

:is(#experience, #education, #activity) {
  .details-item-content > div:not(:last-child) {
    border-bottom: 1px solid var(--clr-light);
  }
}

#hobby {
  .grid-container {
    --max-columns: 2;
    --gap: 1rem;
    --min-col-width: 30px;

    /* Calculation Part */
    --calc-col-size: calc(
      (100% - var(--gap) * (var(--max-columns) - 1)) / var(--max-columns)
    );
    --calc-col-min-size: max(var(--min-col-width), var(--calc-col-size));

    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--calc-col-min-size, 100%)), 1fr)
    );
    gap: var(--gap);

    div {
      /* flex: 0 0 1; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 0rem;
    }

    i {
      width: fit-content;
      aspect-ratio: 1/1;
      font-size: 1.5rem;
      padding: 1rem;
      color: var(--clr-blue);
      border: 3px solid var(--clr-blue);
      border-radius: 50%;
    }
  }
}

/* ////  LEVEL-BAR START /// */
/* make a highlighted level-bar */
.level {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.8rem;

  span {
    display: inline-block;
    background-color: var(--clr-blue);
    width: 4rem;
    height: 0.3rem;
    border-radius: 100vw;
  }
}

/* check data-level to highlight level bar */
.level[data-level="1"] span:not(:nth-child(1)) {
  background-color: var(--clr-semi-dark);
}

.level[data-level="2"] span:nth-child(3) {
  background-color: var(--clr-semi-dark);
}

/* ////  LEVEL-BAR END /// */

/* /////////////////////// */
/* /// CERTIFICATE + REWARD /// */
/* /////////////////////// */

.certificate {
  .inner-container {
    padding: 2rem;
  }
  .section-content {
    --gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
  }

  .grid-ruler {
    --line-thickness: 2px;
    --line-color: var(--clr-orange);
    --padding: 2rem 1rem;
    overflow: hidden;

    /* make sure to declare display grid and grid-template-columns, or use the auto-grid class */

    & > * {
      padding: var(--padding);
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background: var(--line-color);
      }

      /* draw vertical line */
      &::before {
        width: var(--line-thickness);
        height: max(100vh, 100vw);
        inset-block-start: 0;
        inset-inline-start: calc(var(--gap) / -2);
      }

      /* draw horizon line */
      &::after {
        width: max(100vh, 100vw);
        height: var(--line-thickness);
        inset-block-start: calc(var(--gap) / -2);
        inset-inline-start: 0;
      }
    }
  }

  .section-content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  h4 {
    /* margin-bottom: 0.8rem; */
    text-transform: uppercase;
    color: var(--clr-dark);
  }

  /* add border to the image */
  .cert-thumbnail {
    border: 3px solid var(--clr-white);

    img {
      height: 100%;
      width: 100%;
      /* object-fit: cover; */
    }
  }
}

/* /// PROJECT /// */
.project {
  .inner-container {
    padding-inline: 2rem;
  }
  .section-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
  }

  .subgrid {
    border: 2px solid var(--clr-light);
    position: relative;
    transition: translate 0.5s linear;
  }

  .subgrid > *:not(:first-child) {
    padding: 1rem;
    border-top: 1px solid var(--clr-light);
  }

  .linkto::after {
    position: absolute;
    content: "";
    inset: 0;
  }

  img {
    /* max-width: 100%; */
    /* height: auto; */
    /* object-fit: cover; */
    padding: 0;
    display: block;
  }

  a {
    display: block;
  }

  h3 {
    text-transform: uppercase;
    color: var(--clr-dark);
  }

  .subgrid .subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    gap: 0.5rem;
    font-size: 1rem;

    p {
      margin: 0;
    }

    .year {
      background-color: var(--clr-blue);
      border-radius: 100vw;
      color: var(--clr-white);
      padding: 0.25rem 0.8rem;
    }

    i {
      margin-right: 0.5rem;
      font-size: 1rem;
    }
  }

  .project-detail {
    display: grid;
    gap: 1rem;
    grid-template-columns: 5ch 1fr;

    /* left column of Project Detail */
    span:first-child {
      color: var(--clr-dark);
      font-size: 0.9rem;
      font-style: italic;
    }

    span:nth-child(2) {
      text-align: justify;
      text-wrap: pretty;
    }
  }
}

/* /// FOOTER /// */
.footer {
  .inner-container {
    padding-block: 2rem;
  }

  ol {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }

  span {
    display: none;
  }

  a {
    display: block;
    color: var(--clr-dark);
    text-align: center;
  }

  a:hover {
    color: var(--clr-dark-blue);
  }

  i {
    display: inline-block;
    font-size: 2.5rem;
    color: var(--clr-blue);
    vertical-align: middle;
  }

  span:has(i) {
    background-color: var(--clr-blue);
    width: 2.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    align-items: center;
    border-radius: 50%;

    i {
      color: var(--clr-semi-white);
      font-size: 1.5rem;
    }
  }
}
